@(message: String, opinionForm: Form[Profile])

@import helper._

@main("Twitter opinion visualizer") {
<div class="ui one column page grid">
 <div class="column">
 <div class="ui form segment @if(opinionForm.hasErrors || opinionForm.hasGlobalErrors) {error} ">
  <form action="@routes.Profiles.search.url" method="@routes.Profiles.search.method">
    <div class="field">
      <input type="text" name="text" placeholder="Opinion to visualize (ex: France)">
    </div>
    <input type="submit" class="ui tiny fluid blue submit button" value="Visualize" />
  </form>
 </div>
</div>
</div>
}
