@(message: String, profile: Profile)

@import helper._


@main("Welcome to Play 2.0") {
<div id="header"> 
    <img class="logo" src="@routes.Assets.at("images/opinionz.png")"></img>
</div>
<div id="content">      
  <iframe style="display:none" id="streaming"></iframe>

  
<div id="chart1" class='with-transitions'>
    <svg></svg>
</div>

<div id="holder"></div>
</div>

<script src="@routes.Assets.at("javascripts/tweetchart.js")"></script>

<script type="text/javascript">

	var data = new Data();
	var nb_units = 50;
	var viewport = new Viewport(data, nb_units);
	var chart = new Chart(document.getElementById('holder'), 800, 600, nb_units);

	function streamit(tweet) {
    data.add(tweet);
		paint();
    pushTweet(tweet);
	 }


	 function paint() {

 		chart.clear();
		chart.axis();

		/* we need to normalize the height of the charts bar based on the max number of tweets */
		chart.norm = viewport.max();

		var units = viewport.units();

		for (var i =0; i<units.length; i++) {
			chart.bar(i, units[i].neutral.length, units[i].positive.length, units[i].negative.length);
		}
	 }


	$(function(){
	  	$("#streaming").attr("src", "/stream/" + "@profile.expression");
	});

</script>



}
