@(message: String, profile: Profile)

@import helper._


@main("Welcome to Play 2.0") {
<div id="header"> 
    <img class="logo" src="@routes.Assets.at("images/opinionz.png")"></img>
</div>
<div id="content">      
  <iframe style="display:none" id="streaming"></iframe>

  
<div id="chart1" class='with-transitions'>
    <svg></svg>
</div>

<div id="holder"></div>
</div>

<script src="@routes.Assets.at("javascripts/stream.js")"></script>

<script type="text/javascript">
  var chart = new StreamChart("@profile.expression", "#chart1 svg", "#chart1", "svg")
  chart.redraw()
	function streamit(tweet) {
    chart.pushTweet(tweet);
	}

	$(function(){
	  	$("#streaming").attr("src", "/stream/" + "@profile.expression");
	});

</script>



}
