@(message: String, opinionForm: Form[Criterion])

@import helper._

@main("Welcome to Play 2.0") {
    
   @helper.form(action = routes.Opinions.eval) {
     <fieldset>
         <legend>Opinion Finder</legend>
         @inputText(
                opinionForm("text"), 
                '_label -> "Your sentence", 
                '_error -> opinionForm.globalError
         )
     </fieldset>
     <div class="actions">
        <input type="submit" class="btn primary" value="Eval">
         <a href="@routes.Opinions.index" class="btn">Cancel</a>
      </div>
   }
    
}
