body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FCFCFC url(../images/bg.png) repeat;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

.ui.one.column.page.grid {
  padding-top: 10rem;
  padding-bottom: 3.5rem;
  padding-right:25rem;
  padding-left:25rem
}
#header {
	background-color:rgb(250, 250, 250);
	border-bottom: 3px solid rgb(202, 202, 202);
	box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.4), 0pt 0pt 10px rgba(0, 0, 0, 0.1);
} 


#header .logo {
	padding-left: 10px;
	margin-bottom:10px;
}

#holder {
	padding-top: 40px;
	margin-left: auto;
    margin-right: auto;
    width: 800px;

}
