@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/semantic.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/d3/nv.d3.css")" type="text/css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/raphael-2.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/model/timeunit.js")"></script>
        <script src="@routes.Assets.at("javascripts/model/data.js")"></script>
        <script src="@routes.Assets.at("javascripts/viewport.js")"></script>
        <script src="@routes.Assets.at("javascripts/chart.js")"></script>
        <script src="@routes.Assets.at("javascripts/semantic.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/d3/lib/d3.v3.js")"></script>
        <script src="@routes.Assets.at("javascripts/d3/nv.d3.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
